@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url(../imagens/background.jpg);
    background-repeat: no-repeat;
    background-color:#282a36; 
    background-size: cover;
}

header{
    position: fixed;
    width: 100%;
    top:0;
}


p{
    text-indent: 4em;
    margin-left:5%;
    margin-right:5%;
    text-align: justify;
}

#acao3{
    float: left;
    width: 400px;
    bottom:0;
    margin-top: 5%;

}

#apresentacao1,#apresentacao2{
    margin-top:10%;
    margin-bottom:5%;
    margin-left:10%;
    margin-right:10%;

    border-radius: 25px;
}

#apresentacao2 p {
    margin-left:40%;
    margin-right:10%;
}



@media screen and (max-width: 590px) {

body{

}

#apresentacao1,#apresentacao2{
    margin-top:100px;
}

#apresentacao1 h1{
    font-size: 20px;
}

#apresentacao2 h1{
    font-size: 20px;
}

#apresentacao1 p {
    margin-left:5%;
    margin-right:5%;
    font-size: 16px;
}

#apresentacao2 p {
    margin-left:5%;
    margin-right:5%;
    font-size: 16px;
}

#icone2{
    width: 20px;
}

#acao3{
    justify-content: center;
    width: 250px;
    bottom:0;
    margin-top: 10%;
    margin-bottom: 5%;
}


}
