@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);


html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed; 
}

body{
    background-image: url(../imagens/background.jpg);
    background-attachment: fixed;  
    background-size: cover;
    background-color: black;
}

header{
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}

footer{
    padding: 1px;
    bottom:0;
}

footer p{
    text-indent: 0em;
}

p{
    text-indent: 4em;
    margin-left:5%;
    margin-right:5%;
    text-align: justify;
    font-size: 16px;
}

h1{
    font-size: 20px;
}

h5{
    font-size: 20px;
}


#acao2,#acao3{
    float: left;
    width: 400px;
    bottom:0;
    margin-top: 5%;

}

#apresentacao1,#apresentacao2,#apresentacao3,#apresentacao4{
    margin-top:10%;
    margin-bottom:5%;
    margin-left:10%;
    margin-right:10%;

    border-radius: 25px;
}

#apresentacao2 p {
    margin-left:40%;
    margin-right:10%;
}

#apresentacao3 p {
    margin-left:40%;
    margin-right:10%;
}

#apresentacao4 p,h5{
    color:black;
    text-indent: 0em;
    padding-left: 50px;
    padding-right: 50px;
}


#apresentacao4 img{
    height:100%;
    width: 100%;
}

.comentario{
    left: 0;
    height: 130px;
    width: 100%;
    bottom:0;
}

#navbarNav{
    display: flex;
    justify-content: space-evenly;
}

.carousel-inner{
    justify-content: center;
}


@media screen and (max-width: 590px) {


#apresentacao1,#apresentacao2{
    margin-top:100px;
}

#apresentacao1 h1{
    font-size: 18px;
}

#apresentacao2 h1{
    font-size: 18px;
}

#apresentacao3 h1{
    font-size: 18px;
}

#apresentacao4 h1{
    font-size: 18px;
}

#apresentacao1 p {
    margin-left:5%;
    margin-right:5%;
    font-size: 16px;
}

#apresentacao2 p {
    margin-left:5%;
    margin-right:5%;
    font-size: 16px;
}

#apresentacao3 p {
    margin-left:5%;
    margin-right:5%;
    font-size: 16px;
}

#icone2{
    width: 20px;
}

#acao2,#acao3{
    justify-content: center;
    width: 250px;
    bottom:0;
    margin-top: 10%;
    margin-bottom: 5%;
}

.comentario{
    visibility: hidden;
}


}

@media screen and (max-height: 490px) {


    #apresentacao1,#apresentacao2,#apresentacao3,#apresentacao4{
        margin-top:100px;
    }
    
    #apresentacao1 h1{
        font-size: 22px;
    }
    
    #apresentacao2 h1{
        font-size: 22px;
    }

    #apresentacao3 h1{
        font-size: 22px;
    }

    #apresentacao4 h1{
        font-size: 22px;
    }
    
    #apresentacao1 p {
        margin-left:5%;
        margin-right:5%;
        font-size: 16px;
    }
    
    #apresentacao2 p {
        margin-left:5%;
        margin-right:5%;
        font-size: 16px;
    }

    #apresentacao3 p {
        margin-left:5%;
        margin-right:5%;
        font-size: 16px;
    }
    
    #icone2{
        width: 20px;
    }
    
    #acao2,#acao3{
        justify-content: center;
        width: 350px;
        margin-right: 10%;
        margin-left: 10%;
    }
    
    .comentario{
        visibility: hidden;
    }
    





}
